@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
}

/* Scrollbar hide utility */
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
